<%- layout('layouts/boilerplate') %>
    <h1>All campgrounds</h1>
    <div>
        <a href="/campgrounds/new">New campground</a>
    </div>
    <% for (let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-4">
                    <img class="img-fluid" src="<%= campground.image %>" alt="" onerror="this.src='https://64.media.tumblr.com/735ca90f93a0ce4270c07ed22ea7532e/tumblr_p5e765ri1O1tyjd90o1_400.jpg'">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></h5>
                        <p class="card-text"><%= campground.description %></p>
                        <p class="card-text"><small class="text-muted"><%= campground.location %></small></p>
                    </div>
                </div>
            </div>
        </div>
    <% } %>