<%- layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.title %> image" onerror="this.src='https://64.media.tumblr.com/735ca90f93a0ce4270c07ed22ea7532e/tumblr_p5e765ri1O1tyjd90o1_400.jpg'">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location %></li>
                <li class="list-group-item">$<%= campground.price%>/night</li>
                <li class="list-group-item">
                    <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-info">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </li>
            </ul>
            <div class="card-footer">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-6">
        <h2>Add a review</h2>
        <div class="mb-3">
            <form action="/campgrounds/<%= campground._id %>/reviews" method="POST">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" name="review[rating]" id="rating" class="form-range">
                <textarea placeholder="Write your review here..." name="review[description]" class="form-control mb-2" name="" id="" cols="30" rows="3"></textarea>
                <button class="btn btn-success">Add review</button>
            </form>
        </div>

        <div class="mb-3">
            <% for (let review of campground.reviews) { %>
                <div class="card card-body mb-3">
                    <span>Rating: <%= review.rating %>/5</span>
                    <p><%= review.description %></p>
                    <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            <% } %> 
        </div>
    </div>
</div>